<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="persona">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="persona.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="persona.lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Género</ion-label>
      <ion-input type="text" [(ngModel)]="persona.gender"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="persona.age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="persona.email"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <ion-input type="url" [(ngModel)]="persona.image"></ion-input>
    </ion-item>
  </div>
  <ion-button expand="block" color="success" (click)="updatePersona()">
    <ion-icon name="save" slot="start">Actualizar</ion-icon>
  </ion-button>
  <ion-button expand="block" color="danger" (click)="deletePersona()" >
    <ion-icon name="trash" slot="start">Eliminar</ion-icon>
  </ion-button>
</ion-content>  
