ion-card{
    height: 95%;
}

ion-textarea{
    font-size: 18px;
}

#fechaTexto{
    font-size: 20px;
    font-weight: bold;
}
.img-logo{
    width: 4em;
    position: absolute;
    top: 0.30em;
    right: 1em;
}
